
.section {
    min-height: 30rem;
    display: flex;
    color: dimgray;
    overflow: hidden;
}
.section:nth-child(2n) {
    background-color: white;
}
.face {
    margin-top: 5rem;
    height: calc(100vh - 5rem);
}

/* FIXXXXXXXXXXXXXXXX */
.ant-row-flex {
    width: 100%;
}
/* FIXXXXXXXXXXXXXXXX */

.logo img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 1ch 0;
}
.logo .prevWord,
.logo .nextWord {
    font-size: 8vw;
    font-weight: 700;
    line-height: 1;
}


.circle-button button.ant-btn {
    font-size: 2em;
    width: 2em;
    height: 2em;
    margin: .2em;
}
@media screen and (max-width: 768px) {
    .circle-button {
        display: inline-block;
    }
}

.desc {
    /* font-size: 3rem; */
    line-height: 2;
}