
.section {
    min-height: 30rem;
    display: flex;
    color: dimgray;
    overflow: hidden;
}
.section:nth-child(2n) {
    background-color: white;
}
.face {
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    font-size: 3rem;
}
@media screen and (max-width: 768px) {
    .section {
        font-size: 2rem;
    }
}

.logo {
}
.logo img {
    width: 100%;
    height: auto;
}
.logo .prevWord,
.logo .nextWord {
    font-size: 8vw;
    font-weight: 700;
    line-height: 1;
}

.topic {
}
.topic a {
    display: inline-block;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2;
    border-radius: 100%;
    background: white;
    margin: .1em;
}

.desc {
    /* font-size: 3rem; */
    line-height: 1;
}