/*
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
*/

.header-wrapper {
    height: 5rem;
    width: 100%;
    position: fixed;
    background: #ddd;
    z-index: 100;
}



#mainav li {
    display: inline-block;
    position: relative;
    margin: 0 15px 0 0;
    padding: 0;
}
#mainav li:last-child {
    margin-right: 0;
}
#mainav li a {
    display: block;
    padding: 30px 0;
}
/* #mainav .active a, #mainav a:hover, #mainav li:hover > a {
    color: #0000FE;
} */

  .wrapper{display:block; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
/*
The "hoc" class is a generic class used to centre a containing element horizontally
It should be used in conjunction with a second class or ID
*/
.hoc{display:block; margin:0 auto;}
.row1, .row1 a{}
.row1{color:#FFFFFF; background-color:#ddd;}
address, article, aside, figcaption, figure, footer, header, main, nav, section{display:block; margin:0; padding:0;}
#header{}

#header #logo{margin-top:15px;}
#header #logo *{margin:0; padding:0; line-height:1;}
#header #logo h1{font-size:32px; font-variant:small-caps;}
#header #logo p{font-size:12px; text-transform:lowercase;}
#header #logo h1 a{color:inherit; background-color:inherit;}
#topbar .fl_left{margin-top:8px;}
.fl_left, .imgl{float:left;}
#mainav form *{transition:none !important;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:10px 0 0 0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:none;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#FF8F2B; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#FF8F2B;}
#mainav form select{color:#FFFFFF; background-color:#3C3733;}

.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}
