@import '~antd/dist/antd.css';
/*
*, *::before, *::after {
    box-sizing: border-box;
}
*/
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', Georgia, 'Microsoft JhengHei','Heiti TC', sans-serif;
}

.hoc {
    display: block;
    margin: 0 auto;
}
@media screen and (min-width: 978px) {
    .hoc {
        max-width: 978px;
    }
}

.fl_left {
    float: left;
}
.fl_right {
    float: right;
}

.clear, .clear:after {
    clear: both;
    display: table;
    content: "";
}

.center {
    margin: auto;
    text-align: center;
}